<body>

Contains libraries for writing Java servers that listen on Unix-domain
sockets.

This works by launching the Java process from a C program which
creates and monitors the Unix-domain socket, and multiplexes its
clients' connections across a pair of named pipes.  The server is then
unaware that it is using a Unix-domain socket.

<p>
The C launcher also forks into the background when the Java server
becomes ready.  This allows it to return negatively if the server
fails for some reason.

<p>
On the Java side, all one needs to do is obtain the configuration
string from the launcher, build a session server out of it, and loop
to accept connections:

<pre>
{@linkplain uk.ac.lancs.scc.usmux.SessionServer} server = {@linkplain uk.ac.lancs.scc.usmux.SessionServerFactory}.makeServer(config);
server.start();
{@linkplain uk.ac.lancs.scc.usmux.Session} sess;
while ((sess = server.accept()) != null)
    new SessionThread(sess).start();
</pre>

@see <a href="http://www.comp.lancs.ac.uk/~ss/software/pkg-usmux">Software</a>

@see <a href="http://www.comp.lancs.ac.uk/~ss/software/usmux.pdf">Design document (PDF)</a>

@summary Unix-domain socket multiplexing for Java server processes

@pname simpsons Steven Simpson

@plink simpsons http://www.comp.lancs.ac.uk/~ss/

@paddr simpsons School of Computing and Communications, Lancaster
University

@title Usmux

@group api API core

@package api uk.ac.lancs.scc.usmux

@package api uk.ac.lancs.scc.usmux.unix

@group impl Implementations

@package impl uk.ac.lancs.scc.usmux.stream_pair_mux

@package impl uk.ac.lancs.scc.usmux.tcp

@package impl uk.ac.lancs.scc.usmux.multipipe

@group demo Demonstrations

@package demo uk.ac.lancs.scc.usmux.demo

</body>
